body{
    overflow: hidden;
}
a:hover{
    text-decoration: none;
}
header{
    line-height: 50px;
    cursor: pointer;
}
header div.inactive:hover{
    background-color: rgb(250,250,250);
    transition: 200ms;
}
header div.inactive a:hover{
    color: orange;
}
header div.active{
    background-color: rgb(250,250,250);
}
header div.active a{
    color: orange;
}
header div.disabled{
    pointer-events: none;
}
header div.disabled a{
    color: #ccc;
}
footer{
    width: 100%;
    position: fixed;
    bottom: -115px;
    transition: 0.3s;
    padding-top: 10px;
    
    background-color: #333;
    color: #fff;
}
.footer_appear{
    bottom: 0px;
    transition: 0.3s;
}
.margin_no{
    margin: 0 0 0 0;
}
#footer_name h4{
    color: #9c3;
}
#footer_company_logo{
    width: 64px;
}
#intro{
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
#intro_title{
    font-size: 50px;
    line-height: 50px;
    color: #fff;
    
    margin-top: 100px;
}
#footer_contact{
    margin-top: 10px;
}
#footer_contact a{
    color: #fff;
}
.renren{
    background-image: url(../img/renren.png);
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: cover;
    vertical-align: middle;
}